*{
    margin: 0;
    
   
}
body{
    background-color:rgb(46, 18, 18);
    
    
    }
  


header{
    background-color: rgb(70, 62, 62);
    color: aliceblue;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;    
}
.logo{
    margin: 0px;
    padding: 15px;
    width: 70vw;
    position: relative;
    left: 22%;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
span2{
    animation: movers 3s linear infinite;
    display: inline-block;
    color:rgb(70, 62, 62);
    font-weight: bolder;
    }
    @keyframes movers{
        0%{
            text-shadow: 0 0 30px rgb(255, 251, 251);
    }
    50%{
        text-shadow: 0 0 30px rgb(255, 255, 255);
      transform: translateY(20px);    
    }
    100%{
        text-shadow: 0 0 30px;
    }
    }
    span2:nth-child(1)
    {
        animation-delay: 0.5s;
    } span2:nth-child(2)
    {
        animation-delay: 1.0s;
    } 
    span2:nth-child(3)
    {
        animation-delay: 1.5s;
    }
.links{
    display:flex;
    justify-content: space-around;
    justify-content: space-between;
    list-style: none; 
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 18%;
    width: 55vw;
    
}

.home-page{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px; 
    width: 39vw;
}
h1{
position: relative;
justify-content: center;
left: 30%;
color: rgb(202, 190, 17);
width: 0;
font-size: 50px;
}
h2{
position: relative;
left: 120%;
}    
footer{
background-color: rgba(218, 46, 46, 0);
color: aliceblue;
position: relative;
top:100px;
left: 0;
width: 100vw;
height: 5vh;    
}
.logo2{
    margin: 10px;
    padding: 20px;
    position: relative;
    text-align: center;
    bottom: 15px;
    height: 2vh;

}

@media only screen and (max-width:414px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: 0;
    }
    header{
        display: flex;
        flex-direction:column ;
        justify-items: center;
        
    }

    }

   
